@using Sitko.Core.Web.Components
@model Sitko.Core.Web.Components.Flasher
@{
    var messages = await Model.TakeMessageAsync();
    if (messages.Any())
    {
        foreach (var flashMessage in messages)
        {
            string className;
            switch (flashMessage.Type)
            {
                case FlashType.Success:
                    className = "success";
                    break;
                case FlashType.Warning:
                    className = "warning";
                    break;
                case FlashType.Error:
                    className = "danger";
                    break;
                case FlashType.Info:
                    className = "info";
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
            <div class="alert alert-@className" role="alert">
                <h4 class="alert-heading">@flashMessage.Title</h4>
                <p>@flashMessage.Text</p>
            </div>
        }
    }
}
