version: "2.1"
services:
    nats:
        image: nats-streaming:0.16.2
        command: -cid tests
        ports:
            - 4222:4222
    postgres:
        image: postgres:alpine
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_HOST_AUTH_METHOD=trust
        ports:
            - 5432:5432
    elastic-es:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.6.0
        restart: always
        environment:
            ES_JAVA_OPTS: "-Xms1g -Xmx1g"
            cluster.name: "test"
            xpack.security.enabled: "false"
            bootstrap.memory_lock: "true"
            discovery.type: "single-node"
        volumes:
            - "./hunspell:/usr/share/elasticsearch/config/hunspell:ro"
        ports:
            - 9200:9200
    minio:
        image: minio/minio
        command: server /data
        ports:
            - 9000:9000
        environment:
            - MINIO_ACCESS_KEY=A8eENTqgEE7uYL7R
            - MINIO_SECRET_KEY=82bmVoDRkZgwy4B3PXkLzpXiuqGVZMug
    mc:
        image: minio/mc
        volumes:
            - "mc:/root/.mc"

volumes:
    mc:
