<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="nuget.0xdev.ru" value="https://nuget.0xdev.ru/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <nuget.0xdev.ru>
            <add key="Username" value="nuget" />
            <add key="ClearTextPassword" value="CtyPdYdCtafRBHv2grLkefCV" />
        </nuget.0xdev.ru>
    </packageSourceCredentials>
</configuration>