/* blazor */
#blazor-error-ui {
    bottom: 0;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #e91e63;
    text-decoration: underline;
    text-align: center;
    display: none;
}

#blazor-error-ui a.reload {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: 0;
}
