@inherits Sitko.Core.Blazor.FileUpload.BaseStorageFileInputComponent
<div class="ant-upload ant-upload-select ant-upload-select-@(ListType)">
    <span tabindex="0" class="ant-upload" @ref="_btn" role="button">
        <Input type="file" style="display: none;" accept="@ContentTypes" multiple="@IsMultiple" @ref="InputRef"/>
        @if (ChildContent is null)
        {
            <div class="ant-upload ant-upload-select">
                <span class="ant-upload">
                    <AntDesign.Button Icon="upload">
                        <span>@ButtonText</span>
                    </AntDesign.Button>
                </span>
            </div>
        }
        else
        {
            @ChildContent
        }
    </span>
</div>

