@using Layout = AntDesign.ProLayout.Layout
@using Sitko.Core.App
@inherits LayoutComponentBase
@inject Application application

<BasicLayout Title="@application.Name" MenuData="menuData" HeaderRender="false" Layout="Layout.Side" Logo="@("/logo.png")">
    <ChildContent>
        @Body
    </ChildContent>
    <FooterRender>
        <GlobalFooter>
            <Copyright>
                <div>
                    v<span>@application.Version</span>. Sitko.ru <Icon Type="copyright"/> @DateTimeOffset.UtcNow.Year
                </div>
            </Copyright>
        </GlobalFooter>
    </FooterRender>
</BasicLayout>

@code
{
    private readonly MenuDataItem[] menuData =
    {
        new()
        {
            Path = "/",
            Name = "Demo",
            Icon = "dashboard"
        },
        new()
        {
            Path = "/Options",
            Name = "Options",
            Icon = "setting"
        },
        new()
        {
            Path = "/Bars/Add",
            Name = "Add",
            Icon = "edit"
        }
    };
}
