@using Layout = AntDesign.ProLayout.Layout
@inherits LayoutComponentBase

<BasicLayout MenuData="_menuData" Theme="MenuTheme.Dark" Layout="Layout.Side" Logo="@("/logo.png")">
    <ChildContent>
        @Body
    </ChildContent>
    <FooterRender>
        <GlobalFooter>
            <Copyright>
                <div>
                    Sitko.ru <Icon Type="copyright"/> @DateTimeOffset.UtcNow.Year
                </div>
            </Copyright>
        </GlobalFooter>
    </FooterRender>
</BasicLayout>

@code
{
    private readonly MenuDataItem[] _menuData =
    {
        new()
        {
            Path = "/",
            Name = "Demo",
            Key = "Demo"
        }
    };
}
