@page "/"
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Logging
@using Sitko.Core.IdProvider
@inject IOptionsMonitor<TestOptions> testOptions
@inject ILogger<Index> logger
@inject IIdProvider idProvider;

<h1>Hello, world!</h1>

Welcome to your new app.
<br/>
Foo: @testOptions.CurrentValue.Foo<br/>
Bar: @testOptions.CurrentValue.Bar<br/>
@idProvider

<SurveyPrompt Title="How is Blazor working for you?"/>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        testOptions.OnChange(config =>
        {
            //StateHasChanged();
            logger.LogInformation("New config: {@Config}", config);
            InvokeAsync(StateHasChanged);
        });
    }
}
