name: Sitko.Core.Pdf

on:
    push:
        branches: [ master ]
        paths:
            - "src/Sitko.Core.App/**"
            - "src/Sitko.Core.Pdf/**"
            - "tests/Sitko.Core.Pdf.Tests/**"
            - ".github/workflows/pdf.yml"
    pull_request:
        paths:
            - "src/Sitko.Core.App/**"
            - "src/Sitko.Core.Pdf/**"
            - "tests/Sitko.Core.Pdf.Tests/**"
            - ".github/workflows/pdf.yml"

jobs:
    build:
        runs-on: ubuntu-latest
        container: ghcr.io/sitkoru/actions-container
        env:
            PUPPETEER_EXECUTABLE_PATH: "/usr/bin/google-chrome-stable"
        steps:
            -   uses: actions/checkout@v2
            -   name: Install chrome
                run: |
                    apt-get update
                    apt-get install -y google-chrome-stable
            -   uses: actions/setup-dotnet@v1.8.0
                with:
                    dotnet-version: '3.1.x'
            -   uses: actions/setup-dotnet@v1.8.0
                with:
                    dotnet-version: '5.0.x'
            -   name: Add Github Actions logger
                run: dotnet add src/Sitko.Core.Xunit/Sitko.Core.Xunit.csproj package GitHubActionsTestLogger
            -   name: Run tests
                run: dotnet test --logger GitHubActions tests/Sitko.Core.Pdf.Tests/Sitko.Core.Pdf.Tests.csproj
