name: Sitko.Core.Repository

on:
    push:
        branches: [ master ]
        paths:
            - "src/Sitko.Core.App/**"
            - "src/Sitko.Core.Repository/**"
            - "src/Sitko.Core.Repository.EntityFrameworkCore/**"
            - "src/Sitko.Core.Db/**"
            - "src/Sitko.Core.Db.InMemory/**"
            - "src/Sitko.Core.Db.Postgres/**"
            - "tests/Sitko.Core.Repository.Tests/**"
    pull_request:
        branches: [ master ]
        paths:
            - "src/Sitko.Core.App/**"
            - "src/Sitko.Core.Repository/**"
            - "src/Sitko.Core.Repository.EntityFrameworkCore/**"
            - "src/Sitko.Core.Db/**"
            - "src/Sitko.Core.Db.InMemory/**"
            - "src/Sitko.Core.Db.Postgres/**"
            - "tests/Sitko.Core.Repository.Tests/**"

jobs:
    build:
        runs-on: ubuntu-latest
        container: ghcr.io/sitkoru/actions-container
        env:
            POSTGRES_HOST: postgres
            XUNIT_USE_POSTGRES: "true"
        services:
            postgres:
                image: postgres:alpine
                env:
                    POSTGRES_HOST_AUTH_METHOD: trust
        steps:
            -   uses: actions/checkout@v2.3.4
            -   uses: actions/setup-dotnet@v1.8.0
                with:
                    dotnet-version: '3.1.x'
            -   uses: actions/setup-dotnet@v1.8.0
                with:
                    dotnet-version: '5.0.x'
            -   name: Add Github Actions logger
                run: dotnet add src/Sitko.Core.Xunit/Sitko.Core.Xunit.csproj package GitHubActionsTestLogger
            -   name: Run tests
                run: dotnet test --logger GitHubActions tests/Sitko.Core.Repository.Tests/Sitko.Core.Repository.Tests.csproj
